<!--  navbar -->
<nav class="">
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <a class="navbar-brand" href="<%= store_path %>"/> Store Home</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <% if user_signed_in? %>
            <li><%= link_to "Signed in as #{current_user.email}", user_path(current_user) %></li>
            <li><%= link_to "Cart", cart_path(current_cart) if !!current_user.current_cart %></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: "DELETE" %></li>
          <% else %>
            <li><%= link_to "Sign In", new_user_session_path %></li>
            <li><%= link_to "Sign Up", new_user_registration_path %></li> 
          <% end %>
         <!--  nav here -->
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
  
</nav>